html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
body,
a,
input,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #428bca;
}
a:hover {
  text-decoration: none;
}
table {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
/*通用*/
.flt {
  float: left;
}
.frt {
  float: right;
}
.clr {
  clear: both;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt5-i {
  margin-top: 5px !important;
}
.mt10-i {
  margin-top: 10px !important;
}
.mt15-i {
  margin-top: 15px !important;
}
.mt20-i {
  margin-top: 20px !important;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb5-i {
  margin-bottom: 5px !important;
}
.mb10-i {
  margin-bottom: 10px !important;
}
.mb15-i {
  margin-bottom: 15px !important;
}
.mb20-i {
  margin-bottom: 20px !important;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml5-i {
  margin-left: 5px !important;
}
.ml10-i {
  margin-left: 10px !important;
}
.ml15-i {
  margin-left: 15px !important;
}
.ml20-i {
  margin-left: 20px !important;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr5-i {
  margin-right: 5px !important;
}
.mr10-i {
  margin-right: 10px !important;
}
.mr15-i {
  margin-right: 15px !important;
}
.mr20-i {
  margin-right: 20px !important;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt5-i {
  padding-top: 5px !important;
}
.pt10-i {
  padding-top: 10px !important;
}
.pt15-i {
  padding-top: 15px !important;
}
.pt20-i {
  padding-top: 20px !important;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb5-i {
  padding-bottom: 5px !important;
}
.pb10-i {
  padding-bottom: 10px !important;
}
.pb15-i {
  padding-bottom: 15px !important;
}
.pb20-i {
  padding-bottom: 20px !important;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr5-i {
  padding-right: 5px !important;
}
.pr10-i {
  padding-right: 10px !important;
}
.pr15-i {
  padding-right: 15px !important;
}
.pr20-i {
  padding-right: 20px !important;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl5-i {
  padding-left: 5px !important;
}
.pl10-i {
  padding-left: 10px !important;
}
.pl15-i {
  padding-left: 15px !important;
}
.pl20-i {
  padding-left: 20px !important;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fz12 {
  font-size: 12px !important;
}
.fz14 {
  font-size: 14px !important;
}
.fz16 {
  font-size: 16px !important;
}
.fz18 {
  font-size: 18px !important;
}
.pre {
  position: relative !important;
}
.c-w {
  color: #fff;
}
.c-b {
  color: #000;
}
.c-9 {
  color: #999;
}
.c-6 {
  color: #666;
}
.c-3 {
  color: #333;
}
.c-w-i {
  color: #fff !important;
}
.c-b-i {
  color: #000 !important;
}
.c-9-i {
  color: #999 !important;
}
.c-6-i {
  color: #666 !important;
}
.c-3-i {
  color: #333 !important;
}
.t-c {
  text-align: center;
}
.t-c-i {
  text-align: center !important;
}
.l-c {
  vertical-align: middle;
}
.l-c-i {
  vertical-align: middle !important;
}
.bz-bb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.bz-cb {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.bc-w {
  background: #fff;
}
.bc-w-i {
  background: #fff !important;
}
.fw-in {
  font-weight: inherit !important;
}
.fw-b {
  font-weight: bold;
}
.cs-p {
  cursor: pointer !important;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.w1000 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.w1024 {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.w900 {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1442px) {
  html {
    font-size: 225px;
  }
}
@media (max-width: 1282px) {
  html {
    font-size: 200px;
  }
}
@media (max-width: 1026px) {
  html {
    font-size: 160px;
  }
}
@media (max-width: 962px) {
  html {
    font-size: 150px;
  }
}
@media (max-width: 952px) {
  html {
    font-size: 148.4375px;
  }
}
@media (max-width: 902px) {
  html {
    font-size: 140.625px;
  }
}
@media (max-width: 802px) {
  html {
    font-size: 125px;
  }
}
@media (max-width: 775px) {
  html {
    font-size: 120.78125px;
  }
}
@media (max-width: 770px) {
  html {
    font-size: 120px;
  }
}
@media (max-width: 738px) {
  html {
    font-size: 115px;
  }
}
@media (max-width: 734px) {
  html {
    font-size: 114.375px;
  }
}
@media (max-width: 733px) {
  html {
    font-size: 114.21875px;
  }
}
@media (max-width: 669px) {
  html {
    font-size: 104.21875px;
  }
}
@media (max-width: 642px) {
  html {
    font-size: 100px;
  }
}
@media (max-width: 602px) {
  html {
    font-size: 93.75px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 88.75px;
  }
}
@media (max-width: 535px) {
  html {
    font-size: 83.28124999999999px;
  }
}
@media (max-width: 437px) {
  html {
    font-size: 67.96875px;
  }
}
@media (max-width: 416px) {
  html {
    font-size: 64.6875px;
  }
}
@media (max-width: 413px) {
  html {
    font-size: 64.21875px;
  }
}
@media (max-width: 386px) {
  html {
    font-size: 60px;
  }
}
@media (max-width: 377px) {
  html {
    font-size: 58.59374999999999px;
  }
}
@media (max-width: 362px) {
  html {
    font-size: 56.25px;
  }
}
@media (max-width: 322px) {
  html {
    font-size: 50px;
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
}
header {
  width: 100%;
  height: 0.75rem;
  background: #16ac3a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header h2 {
  font-size: 0.27rem;
  line-height: 0.75rem;
  color: #fff;
  text-align: center;
  font-weight: normal;
}
#navUl {
  position: fixed;
  height: 0.56rem;
  width: 100%;
  top: 0.75rem;
  z-index: 3;
  left: 0;
  background-color: #fff;
}
#navUl ul {
  display: flex;
  height: 100%;
}
#navUl ul li {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#navUl ul li.active {
  border-bottom: 0.05rem solid #16ac3a;
}
section {
  width: 100%;
  margin-top: 1.31rem;
}
section .follow {
  height: 0.52rem;
  background: #e9e9e9;
  width: 100%;
  background-color: #e9e9e9;
}
section .follow h2 {
  line-height: 0.52rem;
  padding-left: 0.2rem;
  font-size: 0.23rem;
  color: #5f5f5f;
  font-weight: 100;
}
section .noquanzi {
  height: 1.02rem;
  background: #f5f5f5;
  width: 100%;
}
section .noquanzi p {
  color: 7a7a7a;
  font-size: 0.22rem;
  line-height: 1.02rem;
  text-align: center;
}
section .quanbu {
  width: 100%;
  background: #f5f5f5;
}
section .quanbu li {
  width: 100%;
  border-top: 1px solid #e1e1e3;
  height: 0.9rem;
}
section .quanbu li span {
  float: left;
  color: #999;
  font-size: 0.23rem;
  line-height: 0.9rem;
  padding-left: 0.3rem;
}
section .quanbu li p {
  color: #4e4e4e;
  font-size: 0.24rem;
  font-weight: 100;
  line-height: 0.9rem;
  padding-left: 0.67rem;
}
section .quanbu .xingqu {
  display: none;
}
section .quanbu .tuijian,
section .quanbu .xingqu {
  overflow: hidden;
}
section .quanbu .tuijian ul,
section .quanbu .xingqu ul {
  overflow: hidden;
}
section .quanbu .tuijian ul li,
section .quanbu .xingqu ul li {
  width: 2.94rem;
  height: 1.18rem;
  margin-left: 0.17rem;
  margin-bottom: 0.18rem;
  float: left;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
section .quanbu .tuijian ul li img,
section .quanbu .xingqu ul li img {
  width: 0.51rem;
  height: 0.55rem;
  position: absolute;
  left: 0.16rem;
  top: 0.32rem;
}
section .quanbu .tuijian ul li h3,
section .quanbu .xingqu ul li h3 {
  position: absolute;
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.24rem;
  color: #4c4c4c;
  top: 0.18rem;
  left: 0.86rem;
}
section .quanbu .tuijian ul li p,
section .quanbu .xingqu ul li p {
  font-size: 0.18rem;
  position: absolute;
  height: 0.18rem;
  line-height: 0.18rem;
  color: #949494;
  top: 0.53rem;
  left: 0.86rem;
  padding: 0;
}
section .quanbu .tuijian ul li span,
section .quanbu .xingqu ul li span {
  display: block;
  font-size: 0.18rem;
  position: absolute;
  height: 0.18rem;
  line-height: 0.18rem;
  color: #949494;
  top: 0.81rem;
  left: 0.86rem;
  padding: 0;
}
.foot {
  width: 100%;
  height: 0.83rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 199;
}
.foot span,
.foot a,
.foot p {
  float: left;
}
.foot ul {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f6f6f6;
  height: 0.82rem;
}
.foot ul li {
  width: 20%;
  height: 100%;
  float: left;
}
.foot ul li:nth-child(3) {
  background: #f1f1f1;
  border-left: 0.01rem solid #e5e5e5;
  border-right: 0.01rem solid #e5e5e5;
  box-sizing: border-box;
}
.foot ul li:nth-child(3) .iconfont {
  font-size: 0.52rem;
  margin: 0;
  height: 0.82rem;
  line-height: 0.82rem;
}
.foot ul li:nth-child(3).active {
  background: #16ac3a;
}
.foot ul li:nth-child(3).active .iconfont {
  color: #fff;
}
.foot ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.foot ul li a .iconfont {
  display: block;
  font-size: 0.36rem;
  margin-top: 0.1rem;
  height: 0.36rem;
  line-height: 0.36rem;
  color: #080808;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.foot ul li a p {
  width: 100%;
  font-size: 0.18rem;
  text-align: center;
  margin-top: 0.1rem;
  color: #080808;
  height: 0.18rem;
  line-height: 0.18rem;
}
.foot ul li.active a span {
  color: #16ac3a;
}
.foot ul li.active a p {
  color: #16ac3a;
}
/*# sourceMappingURL=quanzi.css.map */
